:root {
    --background_color : #23616D;
    --button_color : #2F236D;
    --error_state : rgb(230, 58, 54);
    --running_state : #236D2F;
    --highlight : #54236D;
}


body {
    overflow-y: scroll;
    font: 900 18px/1.5 Verdana ;
    background-color: var(--background_color);
}

button {
    display: block;
    background-color: var(--button_color);
    color: #FFF;
    cursor: pointer;
    width: 97%;
    border: 2px solid #FFF;
    border-radius: 15px;
    text-align: center;
    outline: none;
    margin: 3px auto 0;
    padding: 3px 7px;
    font: inherit;
}

.collapsible.active {
    border-radius: 15px 15px 0px 0px;
    border-bottom: 0px;
}

.collapsible:hover,
.all:hover {
    background-color: var(--highlight);
}

.content {
    padding: 0;
    width: 96.25%;
    display: block;
    overflow: hidden;
    border: 2px solid #FFF;
    border-top: 0px;
    background-color: var(--background_color);
    border-radius: 0px 0px 15px 15px;
    margin: 0 auto;
    font: 500 16px/1.5 Verdana ;
}

.hide {
    display: none;
}

td {
    width: 33%;
    padding: 1.5px;
    text-align: center;
}

.all::before {
    content: 'Show ';
}

.all.active::before {
    content: 'Hide ';
}

.appbutton,
.controlbutton {
    margin: 20px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: var(--button_color);
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
}

pre {
    display: block;
    font-family: Verdana ;
    white-space: pre;
    margin: 1em 0;
    color: #FFF;
  }